<div>
    <h2 id="page-heading">
        <span jhiTranslate="blanatApp.dealComment.home.title">Deal Comments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deal-comment" [routerLink]="['/deal-comment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blanatApp.dealComment.home.createLabel">
            Create a new Deal Comment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dealComments?.length === 0">
        <span jhiTranslate="blanatApp.dealComment.home.notFound">No dealComments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dealComments && dealComments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="comment"><span jhiTranslate="blanatApp.dealComment.comment">Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateComment"><span jhiTranslate="blanatApp.dealComment.dateComment">Date Comment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="blanatApp.dealComment.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isDeleted"><span jhiTranslate="blanatApp.dealComment.isDeleted">Is Deleted</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="like"><span jhiTranslate="blanatApp.dealComment.like">Like</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dislike"><span jhiTranslate="blanatApp.dealComment.dislike">Dislike</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateLastModification"><span jhiTranslate="blanatApp.dealComment.dateLastModification">Date Last Modification</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="assignedToId"><span jhiTranslate="blanatApp.dealComment.assignedTo">Assigned To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="parentId"><span jhiTranslate="blanatApp.dealComment.parent">Parent</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dealId"><span jhiTranslate="blanatApp.dealComment.deal">Deal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let dealComment of dealComments ;trackBy: trackId">
                    <td><a [routerLink]="['/deal-comment', dealComment.id, 'view']">{{ dealComment.id }}</a></td>
                    <td>{{ dealComment.comment }}</td>
                    <td>{{ dealComment.dateComment | date:'mediumDate' }}</td>
                    <td>{{ dealComment.isActive }}</td>
                    <td>{{ dealComment.isDeleted }}</td>
                    <td>{{ dealComment.like }}</td>
                    <td>{{ dealComment.dislike }}</td>
                    <td>{{ dealComment.dateLastModification | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="dealComment.assignedToId">
                            <a [routerLink]="['/deal-user', dealComment.assignedToId , 'view']" >{{ dealComment.assignedToId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dealComment.parentId">
                            <a [routerLink]="['/deal-comment', dealComment.parentId , 'view']" >{{ dealComment.parentId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="dealComment.dealId">
                            <a [routerLink]="['/deal', dealComment.dealId , 'view']" >{{ dealComment.dealId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/deal-comment', dealComment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/deal-comment', dealComment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dealComment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
