<button class="btn-volet" [ngClass]="{'closed': closed}" (click)="closed=!closed">
    <fa-icon icon="filter"></fa-icon>
</button>
<div class="volet volet-deal" [ngClass]="{'closed': closed}">
    <div class="row" *ngIf="!closed">
        <div class="col-md-12 col-sm-12">
            <div class="div-volet">
                <h4>Filtre {{ name }}</h4>
                <hr>
                <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
                    <div *ngIf="filter!.length > 0">
                        <div *ngFor="let elem of filter">
                            <div [ngSwitch]="elem.type">
                                <div *ngSwitchCase="'text'">
                                    <div class="input-label">Recherche par {{elem.label}}</div>
                                    <input class="input-default" type="text" formControlName="{{elem.name}}" placeholder="{{elem.initValue}}"/>
                                </div>
                                <div *ngSwitchCase="'num'">
                                    <div class="input-label">Recherche par {{elem.label}}</div>
                                    <input *ngIf="elem.isMin" class="input-default" type="number" formControlName="{{elem.nameMin}}" placeholder="{{elem.initValueMin}}"/>
                                    <input *ngIf="elem.isMax" class="input-default" type="number" formControlName="{{elem.nameMax}}" placeholder="{{elem.initValueMax}}"/>
                                </div>
                                <div *ngSwitchCase="'date'">
                                    <div class="input-label">Recherche par {{elem.label}}</div>
                                    <div *ngIf="elem.isMax" class="input-group">
                                        <div class="date-label">Du</div>
                                        <input type="text" class="input-default date-picker" name="{{elem.label}}" ngbDatepicker #dateDp="ngbDatepicker" formControlName="{{elem.nameMax}}"/>
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                        </span>
                                    </div>
                                    <div *ngIf="elem.isMin" class="input-group">
                                        <div class="date-label">Au</div>
                                        <input type="text" class="input-default date-picker" name="{{elem.label}}" ngbDatepicker #dateDpMin="ngbDatepicker" formControlName="{{elem.nameMin}}"/>
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-secondary" (click)="dateDpMin.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                                        </span>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'checkbox'" class="btn-checkbox">
                                    <input id="{{elem.name}}" type="checkbox" formControlName="{{elem.name}}"/>
                                    <label class="input-label" for="{{elem.name}}">{{elem.label}}</label>
                                </div>
                                <div *ngSwitchCase="'select'">
                                    <div class="input-label">Recherche par {{elem.label}}</div>
                                    <select formControlName="{{elem.name}}">
                                        <option *ngFor="let element of elem.enum" [ngValue]="element">{{ element }}</option>
                                    </select>
                                </div>
                                <div *ngSwitchCase="'list'">
                                    <p>{{elem.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>