@import '~bootswatch/dist/lumen/variables';

/* ==========================================================================
ui voilet
========================================================================== */

.btn-volet {
  background: $teal;
  color: $gray-200;
  border-width: 0;
  right: 300px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: -3px 6px 9px $gray-600;
  outline: 0 !important;
  height: 60px;
  width: 20px;
  top: 105px;
  position: fixed;
  transition: right 0.5s ease-in;
  font-size: 13px;
  z-index: 10;
  &.closed {
    right: 0px;
  }
}

.volet {
  position: fixed;
  background: $white;
  top: 65px;
  bottom: 0;
  right: 0;
  width: 300px;
  transition: right 0.5s ease-in;
  z-index: 1000;
  margin-bottom: 1px;
  border-left: solid 3px $teal;
  border-top: solid 3px $teal;
  overflow: auto;
  &.closed {
    right: -300px;
  }

  &.volet-deal {
    padding: 10px;
  }
  .div-volet {
    padding: 0;
    position: relative;

    h4 {
      margin-bottom: 15px;
      padding-left: 0;
    }
  }
}

input.input-default {
  font-size: 16px;
  border: 1px solid $gray-400;
  padding: 5px 20px;
  &:focus {
    outline: 0;
    border: 1px solid $blue;
  }
}

input[type='number'] {
  width: 40%;
  margin-right: 6px;
}

.date-picker {
  width: 59%;
}

.date-label {
  align-self: center;
  width: 10%;
}

.input-label {
  margin: 10px 0px 5px;
}

select {
  width: 84%;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid $gray-400;
  cursor: pointer;
  padding: 6px 20px;

  &:focus {
    outline: 0;
    border: 1px solid $blue;
  }
}

div.input-group {
  margin-bottom: 1%;
}

.btn-checkbox {
  input[type='checkbox'] {
    display: none;
  }

  label {
    width: 50%;
    margin-left: 20%;
    background: $white;
    border: 1px solid $gray-400;
    padding: 10px 0;
    text-align: center;
  }

  input[type='checkbox']:checked + label {
    background: $teal;
    color: $white;
  }
}
