<div class="row justify-content-center" *ngIf="deal">
    <div class="card border-primary col-3 mr-3">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
              <button type="submit"
                      (click)="previousState()"
                      class="btn btn-info">
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>
          </div>
          <div class="col" *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <button type="button"
                      [routerLink]="['/deal', deal.id, 'edit']"
                      class="btn btn-primary float-right">
                      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
          </div>
      </div>
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" [class.active]="step === 'home'" id="list-home-list" data-toggle="list" role="tab" (click)="goToHome()" aria-controls="home">Home</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'profile'" id="list-profile-list" data-toggle="list" role="tab" (click)="goToProfile()" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'messages'" id="list-messages-list" data-toggle="list" role="tab" (click)="goToMessages()" aria-controls="messages">Messages</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'settings'" id="list-settings-list" data-toggle="list" role="tab" (click)="goToSettings()" aria-controls="settings">Settings</a>
        </div>
      </div>
    </div>

    <div class="card border-primary col-8">
      <div class="card-body">
        <div [hidden]="step !== 'home'">
          Home
        </div>
        <div [hidden]="step !== 'profile'">
          Profile
        </div>
        <div [hidden]="step !== 'messages'">
          Messages
        </div>
        <div [hidden]="step !== 'settings'">
          Settings
        </div>
      </div>
    </div>

</div>