<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-deal-heading" jhiTranslate="blanatApp.deal.home.createOrEditLabel">Create or edit a Deal</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10000 }">
                        This field cannot be longer than 10000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="DEAL">{{ 'blanatApp.TypeDeal.DEAL' | translate }}</option>
                        <option value="COUPON">{{ 'blanatApp.TypeDeal.COUPON' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.image" for="field_image">Image</label>
                    <input type="text" class="form-control" name="image" id="field_image"
                           formControlName="image"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.priceNormal" for="field_priceNormal">Price Normal</label>
                    <input type="number" class="form-control" name="priceNormal" id="field_priceNormal"
                           formControlName="priceNormal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.priceShipping" for="field_priceShipping">Price Shipping</label>
                    <input type="number" class="form-control" name="priceShipping" id="field_priceShipping"
                           formControlName="priceShipping"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.coupon" for="field_coupon">Coupon</label>
                    <input type="text" class="form-control" name="coupon" id="field_coupon"
                           formControlName="coupon"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.couponType" for="field_couponType">Coupon Type</label>
                    <select class="form-control" name="couponType" formControlName="couponType" id="field_couponType">
                        <option value="PERCENTAGE">{{ 'blanatApp.TypeCoupon.PERCENTAGE' | translate }}</option>
                        <option value="DHS">{{ 'blanatApp.TypeCoupon.DHS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.couponValue" for="field_couponValue">Coupon Value</label>
                    <input type="number" class="form-control" name="couponValue" id="field_couponValue"
                           formControlName="couponValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.couponPercentage" for="field_couponPercentage">Coupon Percentage</label>
                    <input type="number" class="form-control" name="couponPercentage" id="field_couponPercentage"
                           formControlName="couponPercentage"/>
                    <div *ngIf="editForm.get('couponPercentage')!.invalid && (editForm.get('couponPercentage')!.dirty || editForm.get('couponPercentage')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('couponPercentage')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('couponPercentage')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }">
                            This field cannot be more than 100.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('couponPercentage')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.dateStart" for="field_dateStart">Date Start</label>
                    <div class="input-group">
                        <input id="field_dateStart" type="text" class="form-control" name="dateStart" ngbDatepicker #dateStartDp="ngbDatepicker" formControlName="dateStart"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateStartDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.dateEnd" for="field_dateEnd">Date End</label>
                    <div class="input-group">
                        <input id="field_dateEnd" type="text" class="form-control" name="dateEnd" ngbDatepicker #dateEndDp="ngbDatepicker" formControlName="dateEnd"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateEndDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.datePublication" for="field_datePublication">Date Publication</label>
                    <div class="input-group">
                        <input id="field_datePublication" type="text" class="form-control" name="datePublication" ngbDatepicker #datePublicationDp="ngbDatepicker" formControlName="datePublication"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="datePublicationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('datePublication')!.invalid && (editForm.get('datePublication')!.dirty || editForm.get('datePublication')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('datePublication')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.views" for="field_views">Views</label>
                    <input type="number" class="form-control" name="views" id="field_views"
                           formControlName="views"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.like" for="field_like">Like</label>
                    <input type="number" class="form-control" name="like" id="field_like"
                           formControlName="like"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.dislike" for="field_dislike">Dislike</label>
                    <input type="number" class="form-control" name="dislike" id="field_dislike"
                           formControlName="dislike"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.local" for="field_local">Local</label>
                    <input type="checkbox" class="form-control" name="local" id="field_local"
                           formControlName="local"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="ACTIVE">{{ 'blanatApp.StatutDeal.ACTIVE' | translate }}</option>
                        <option value="HIDDEN">{{ 'blanatApp.StatutDeal.HIDDEN' | translate }}</option>
                        <option value="EXPIRED">{{ 'blanatApp.StatutDeal.EXPIRED' | translate }}</option>
                        <option value="PENDING">{{ 'blanatApp.StatutDeal.PENDING' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('statut')!.invalid && (editForm.get('statut')!.dirty || editForm.get('statut')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statut')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                           formControlName="isDeleted"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.isBlocked" for="field_isBlocked">Is Blocked</label>
                    <input type="checkbox" class="form-control" name="isBlocked" id="field_isBlocked"
                           formControlName="isBlocked"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.dealLocation" for="field_dealLocation">Deal Location</label>
                    <select class="form-control" id="field_dealLocation" name="dealLocation" formControlName="dealLocationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dealLocationOption.id" *ngFor="let dealLocationOption of deallocations; trackBy: trackById">{{ dealLocationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.deal.assignedTo" for="field_assignedTo">Assigned To</label>
                    <select class="form-control" id="field_assignedTo" name="assignedTo" formControlName="assignedToId">
                        <option *ngIf="!editForm.get('assignedToId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="dealUserOption.id" *ngFor="let dealUserOption of dealusers; trackBy: trackById">{{ dealUserOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('assignedToId')!.invalid && (editForm.get('assignedToId')!.dirty || editForm.get('assignedToId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('assignedToId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label jhiTranslate="blanatApp.deal.dealCategory" for="field_dealCategories">Deal Category</label>
                    <select class="form-control" id="field_dealCategories" multiple name="dealCategories" formControlName="dealCategories">
                        <option [ngValue]="getSelected(editForm.get('dealCategories')!.value, dealCategoryOption)" *ngFor="let dealCategoryOption of dealcategories; trackBy: trackById">{{ dealCategoryOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
