<div>
    <h2 id="page-heading">
        <span jhiTranslate="blanatApp.deal.home.title">Deals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deal" [routerLink]="['/deal/new']" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="blanatApp.deal.home.createLabel">
            Create a new Deal
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deals?.length === 0">
        <span jhiTranslate="blanatApp.deal.home.notFound">No deals found</span>
    </div>

    <div class="container-fluid" id="entities" *ngIf="deals && deals.length > 0">
        <div class="list-group" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="itemsPerPage" (scrolled)="onScroll()">
            <li class="list-group-item list-group-item-action flex-column items-start" 
            *ngFor="let deal of deals">
            <div class="row">
                <div class="col align-self-center">
                    <span class="hipster img-fluid rounded"></span>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-6">
                            <p class="font-weight-bold">
                                <a [routerLink]="['/deal', deal.id, 'view']">{{ deal.title }}</a></p>
                        </div>
                        <div class="col-3">
                            <h5><p class="text-warning">{{ deal.type }}</p></h5>
                        </div>
                        <div class="col-3" *ngIf="deal.type=='DEAL'">
                            {{ deal.price }}Dhs
                        </div>
                        <div class="col-3" *ngIf="deal.type=='COUPON' && deal.couponType=='PERCENTAGE'">
                            {{ deal.couponPercentage }}%
                        </div>
                        <div class="col-3" *ngIf="deal.type=='COUPON' && deal.couponType=='DHS'">
                            {{ deal.couponValue }}Dhs
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ deal.description | description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col-4"><fa-icon icon="eye"></fa-icon>{{ deal.views }}</div>
                        <div class="col-4"><fa-icon icon="thumbs-up"></fa-icon>{{ deal.like }}</div>
                        <div class="col-4"><fa-icon icon="thumbs-down"></fa-icon>{{ deal.dislike }}</div>
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn" [ngClass]="{'btn-danger': deal.statut=='EXPIRED', 'btn-success': deal.statut=='ACTIVE', 'btn-warning': deal.statut=='HIDDEN', 'btn-dark': deal.statut=='PENDING'}" disabled>{{ deal.statut}}</button>
                </div>
                <div class="col">
                    By: <a [routerLink]="['/deal-user', deal.assignedTo?.id, 'view']" *ngIf="deal.assignedTo">{{ deal.assignedTo | userPipe}}</a>
                </div>
                <div class="col">
                    Date: {{ deal.datePublication | date:'mediumDate' }}
                </div>
                <div class="col">
                    <a [attr.href]="deal.url" class="btn btn-primary" role="button" target="_blank" aria-disabled="true">SEE</a>
                </div>
            </div>
            </li>
        </div>
    </div>
</div>
