<div class="row justify-content-center" *ngIf="deal">
    <div class="card border-primary col-3 mr-3">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
              <button type="submit"
                      (click)="previousState()"
                      class="btn btn-info">
                  <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
              </button>
          </div>
          <div class="col" *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <button type="button"
                      [routerLink]="['/deal', deal.id, 'edit']"
                      class="btn btn-primary float-right">
                      <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
              </button>
          </div>
      </div>
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" [class.active]="step === 'deal'" id="list-deal-list" data-toggle="list" role="tab" (click)="goToDeal()" aria-controls="home">Deal</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'user'" id="list-user-list" data-toggle="list" role="tab" (click)="goToUser()" aria-controls="profile">User</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'comments'" id="list-comments-list" data-toggle="list" role="tab" (click)="goToComments()" aria-controls="messages">Comments</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'history'" id="list-history-list" data-toggle="list" role="tab" (click)="goToHistory()" aria-controls="settings">History</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'report'" id="list-report-list" data-toggle="list" role="tab" (click)="goToReport()" aria-controls="settings">Report</a>
          <a class="list-group-item list-group-item-action" [class.active]="step === 'track'" id="list-track-list" data-toggle="list" role="tab" (click)="goToTrack()" aria-controls="settings">Track</a>
        </div>
      </div>
    </div>

    <div class="card border-primary col-8">
      <div class="card-body">
        <div [hidden]="step !== 'deal'">
          <div class="row">
            <div class="col align-self-center">
              <div class="row">
                <div class="col-9">
                  <p class="font-weight-bold m-0">{{ deal.title }}</p>
                  <p class="text-left pl-1">
                    <span class="font-weight-bold text-danger" *ngIf="deal.type=='DEAL'">
                      {{ deal.price }}Dhs
                    </span>
                    <span class="font-weight-bold text-danger" *ngIf="deal.type=='COUPON' && deal.couponType=='PERCENTAGE'">
                        {{ deal.couponPercentage }}%
                    </span>
                    <span class="font-weight-bold text-danger" *ngIf="deal.type=='COUPON' && deal.couponType=='DHS'">
                        {{ deal.couponValue }}Dhs
                    </span>
                     | 
                    <span>
                      Type: {{ deal.type }}
                    </span>
                     | 
                    <span *ngIf="deal.priceShipping!==0">
                      Livraison: {{ deal.priceShipping }}Dhs
                    </span>
                  </p>
                </div>
                <div class="col-3">
                  <button type="button" class="btn" [ngClass]="{'btn-danger': deal.statut=='EXPIRED', 'btn-success': deal.statut=='ACTIVE', 'btn-warning': deal.statut=='HIDDEN', 'btn-dark': deal.statut=='PENDING'}" disabled>{{ deal.statut}}</button>
                </div>
              </div>
              <div class="row mt-3 p-3 border border-secondary">
                <div class="col-4"><fa-icon icon="eye" class="mx-2"></fa-icon>{{ deal.views }}</div>
                <div class="col-4"><fa-icon icon="thumbs-up" class="mx-2"></fa-icon>{{ deal.like }}</div>
                <div class="col-4"><fa-icon icon="thumbs-down" class="mx-2"></fa-icon>{{ deal.dislike }}</div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  Date de publicaion: {{ deal.datePublication | date:'mediumDate' }}
                </div>
                <div class="col">
                  Date de début: {{ deal.dateStart | date:'mediumDate' }}
                </div>
                <div class="col">
                  Date de fin: {{ deal.dateEnd | date:'mediumDate' }}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col align-self-center">
              {{ deal.description}}
            </div>
          </div>
          <div class="row">
            <div class="col-3 align-self-center border border-success m-1 rounded" *ngFor="let cat of deal.dealCategories">
              {{ cat.name}}
            </div>
          </div>
        </div>
        <div [hidden]="step !== 'user'">
          <div class="row">
              <div class="col col-md-6">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                      <input type="text" class="form-control" name="login"
                        placeholder="login" [(ngModel)]="deal.assignedTo!.user!.login" [routerLink]="['/deal-user', deal.assignedTo!.user!.id, 'view']" readonly>
                  </div>
              </div>
              <div class="col col-md-6">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                      <input type="email" class="form-control" name="email" 
                        placeholder="email" [(ngModel)]="deal.assignedTo!.user!.email" readonly>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-6">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                      <input type="text" class="form-control" name="firstName"
                         placeholder="firstname" [(ngModel)]="deal.assignedTo!.user!.firstName" readonly>
                  </div>
              </div>
              <div class="col col-md-6">
                  <div class="form-group">
                      <label jhiTranslate="userManagement.lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName"
                        placeholder="lastname" [(ngModel)]="deal.assignedTo!.user!.lastName" readonly>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-4">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="blanatApp.dealUser.gender" for="field_gender">Gender</label>
                      <input type="text" class="form-control" name="gender"
                         placeholder="gender" [(ngModel)]="deal.assignedTo!.gender" readonly>
                  </div>
              </div>
              <div class="col col-md-4">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="blanatApp.dealUser.birthDay" for="field_birthDay">Birth Day</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="phone" id="field_birthDay"
                        placeholder="06 66 66 66 66" [(ngModel)]="deal.assignedTo!.birthDay" readonly/>
                      </div>
                  </div>
              </div>
              <div class="col col-md-4">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="blanatApp.dealUser.phone" for="field_phone">Phone</label>
                      <input type="text" class="form-control" name="phone" id="field_phone"
                        placeholder="06 66 66 66 66" [(ngModel)]="deal.assignedTo!.phone" readonly/>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col col-md-9">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="blanatApp.dealUser.phone" for="field_address">Address</label>
                      <input type="text" class="form-control" name="address" id="field_address"
                      [(ngModel)]="deal.assignedTo!.address" readonly/>
                  </div>
              </div>
              <div class="col col-md-3">
                  <div class="form-group">
                      <label class="form-control-label" jhiTranslate="blanatApp.dealUser.city" for="field_city">City</label>
                      <input type="text" class="form-control" name="city" id="field_city"
                      [(ngModel)]="deal.assignedTo!.city" readonly/>
                  </div>
              </div>
          </div>
        </div>
        <div class="container" [hidden]="step !== 'comments'">
          <div class="row mt-2 border-bottom" *ngFor="let comment of comments">
            <div class="col-2">
              <img src="../../../content/images/jhipster_family_member_1.svg" alt="profile-img" class="rounded-circle">
            </div>
            <div class="col-9">
                <div class="d-flex">
                  <p class="font-weight-bold mr-auto p-2 mb-0" [routerLink]="['/deal-user', comment.assignedToId, 'view']" >Robin Hood</p>
                  <p class="p-2 mb-0">{{comment.dateComment | date:'shortDate'}} </p>
                  <p class="font-italic p-2 mb-0" *ngIf="comment.dateLastModification!">Edited</p>
                </div>
                <div class="d-flex m-2" [routerLink]="['/deal-comment', comment.id, 'view']">
                  {{comment.comment}}
                </div>
                <div class="d-flex m-2">
                  <fa-icon class="mr-1" icon="thumbs-up"></fa-icon> <span>{{comment.like}}</span>
                  <fa-icon class="ml-3 mr-1" icon="thumbs-down"></fa-icon> <span>{{comment.dislike}}</span>
                </div>
            </div>
          </div>
        </div>
        <div [hidden]="step !== 'history'">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" [hidden]="true">id</th>
                <th scope="col" jhiTranslate="blanatApp.dealHistory.attributName">Attribut Name</th>
                <th scope="col" jhiTranslate="blanatApp.dealHistory.attributLastValue">Attribut Last Value</th>
                <th scope="col" jhiTranslate="blanatApp.dealHistory.dateModification">Date Modification</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let history of histories">
                <th scope="row" [hidden]="true">{{history.id}}</th>
                <td>{{history.attributName}}</td>
                <td>{{history.attributLastValue}}</td>
                <td>{{history.dateModification}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div [hidden]="step !== 'report'">
          E
        </div>
        <div [hidden]="step !== 'track'">
          F
        </div>
      </div>
    </div>

</div>