<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-deal-user-heading" jhiTranslate="blanatApp.dealUser.home.createOrEditLabel">Create or edit a Deal User</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{ 'blanatApp.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'blanatApp.Gender.FEMALE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Phone' }">
                            This field should follow pattern for "Phone".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.birthDay" for="field_birthDay">Birth Day</label>
                    <div class="input-group">
                        <input id="field_birthDay" type="text" class="form-control" name="birthDay" ngbDatepicker #birthDayDp="ngbDatepicker" formControlName="birthDay"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.comment" for="field_comment">Comment</label>
                    <input type="checkbox" class="form-control" name="comment" id="field_comment"
                           formControlName="comment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.notification" for="field_notification">Notification</label>
                    <input type="checkbox" class="form-control" name="notification" id="field_notification"
                           formControlName="notification"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.reporting" for="field_reporting">Reporting</label>
                    <input type="checkbox" class="form-control" name="reporting" id="field_reporting"
                           formControlName="reporting"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.emailNotification" for="field_emailNotification">Email Notification</label>
                    <input type="checkbox" class="form-control" name="emailNotification" id="field_emailNotification"
                           formControlName="emailNotification"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.message" for="field_message">Message</label>
                    <input type="checkbox" class="form-control" name="message" id="field_message"
                           formControlName="message"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blanatApp.dealUser.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option *ngIf="!editForm.get('userId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId')!.invalid && (editForm.get('userId')!.dirty || editForm.get('userId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label jhiTranslate="blanatApp.dealUser.dealSaved" for="field_dealSaveds">Deal Saved</label>
                    <select class="form-control" id="field_dealSaveds" multiple name="dealSaveds" formControlName="dealSaveds">
                        <option [ngValue]="getSelected(editForm.get('dealSaveds')!.value, dealOption)" *ngFor="let dealOption of deals; trackBy: trackById">{{ dealOption.title }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
