<form name="editForm" role="form" [formGroup]="editForm" novalidate>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 id="jhi-deal-user-heading" jhiTranslate="blanatApp.dealUser.home.createOrEditLabel">Create or edit a Deal User</h2>
                </div>
                <div class="card-body">
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                                <input type="text" class="form-control" name="login"
                                        formControlName="login" placeholder="login" readonly>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="email" formControlName="email" readonly>
                            </div>
                        </div>
                        <div class="col col-md-2 my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="activated" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="activated">
                                    <label class="custom-control-label" for="activated" jhiTranslate="userManagement.activated">Activated</label>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                                <input type="text" class="form-control" name="firstName"
                                        formControlName="firstName" placeholder="firstname" readonly>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="form-group">
                                <label jhiTranslate="userManagement.lastName">Last Name</label>
                                <input type="text" class="form-control" name="lastName"
                                        formControlName="lastName" placeholder="lastname" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="blanatApp.dealUser.gender" for="field_gender">Gender</label>
                                <input type="text" class="form-control" name="gender"
                                        formControlName="gender" placeholder="gender" readonly>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="blanatApp.dealUser.birthDay" for="field_birthDay">Birth Day</label>
                                <div class="input-group">
                                    <input id="field_birthDay" type="text" class="form-control" name="birthDay" ngbDatepicker #birthDayDp="ngbDatepicker" 
                                    formControlName="birthDay" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="blanatApp.dealUser.phone" for="field_phone">Phone</label>
                                <input type="text" class="form-control" name="phone" id="field_phone"
                                        formControlName="phone" placeholder="06 66 66 66 66" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-9">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="blanatApp.dealUser.address" for="field_address">Address</label>
                                <input type="text" class="form-control" name="address" id="field_address"
                                        formControlName="address" readonly/>
                            </div>
                        </div>
                        <div class="col col-md-3">
                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="blanatApp.dealUser.city" for="field_city">City</label>
                                <input type="text" class="form-control" name="city" id="field_city"
                                        formControlName="city" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col align-self-end col-auto">
                            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3>Authorities</h3>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="comment" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="comment" readonly>
                                    <label class="custom-control-label" for="comment" jhiTranslate="blanatApp.dealUser.comment">Comment</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="notification" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="notification">
                                    <label class="custom-control-label" for="notification" jhiTranslate="blanatApp.dealUser.notification">Notification</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="reporting" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="reporting">
                                    <label class="custom-control-label" for="reporting" jhiTranslate="blanatApp.dealUser.reporting">Reporting</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="emailNotification" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="emailNotification">
                                    <label class="custom-control-label" for="emailNotification" jhiTranslate="blanatApp.dealUser.emailNotification">Email Notification</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group my-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="message" checked="" [attr.disabled]="disabled ? 'disabled' : null" formControlName="message">
                                    <label class="custom-control-label" for="message" jhiTranslate="blanatApp.dealUser.message">Message</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col my-auto">
                            <div class="form-group">
                                <label jhiTranslate="userManagement.profiles">Profiles</label>
                                <select class="form-control" multiple name="authority" formControlName="authorities" readonlyx>
                                    <option *ngFor="let authority of editForm.get('authorities')!.value" [value]="authority">{{ authority }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>